﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title></title>
    

</head>
<body ng-app="WebConfig">
    <nav class="navbar navbar-default" role="navigation" ng-controller="ModalController">
        <div class="nav-header">
            <a class="navbar-brand" href="#">Mobiliti Configuration Router</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="openModal()">Set Configuration File</a></li>

                </ul>
            </li>
        </ul>
    </nav>
        <div ng-view class="container-fluid">
        </div>
     

        <script src="Scripts/angular.js"></script>
        <script src="Scripts/angular-route.min.js"></script>
        <script src="Scripts/angular-resource.min.js"></script>
        <script src="Scripts/angular-animate.min.js"></script>
        <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
        <script src="Scripts/jquery-2.1.1.min.js"></script>
        <script src="Scripts/MainController.js"></script>
</body>
</html>
