﻿
<div class="row">
    <div class="col-md-12">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="fade in">{{alert.msg}}</alert>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Routing Filter</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" ng-submit="Add()" name="WebConfigForm">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" ng-model="sql" name="sql">
                                    </span>

                                    <input type="text" class="form-control" id="acronym" placeholder="Enter 3 acronym"
                                           ng-model="acronym" ng-maxlength="3" ng-minlength="3" ng-required="true" name="acronym" ng-class="error">
                                </div>
                            </div>
                            <span class="help-block">Check the box to update the RoutingIDTranslation and ServiceLocation SQL Tables</span>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        

    </div>
    <div class="col-md-8">
        <h2>Implementations Routing Filters</h2>
        <div class="col-lg-12">
            <p class="input-group">
                <input type="text" class="form-control" ng-model="search">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-primary" type="button">Search</button>
                </span>
            </p><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Client</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="FI in ListOfFIs | filter:search " ng-mouseenter="isDelete = !isDelete" ng-mouseleave="isDelete = !isDelete" class="faderow">
                    <td>{{$index}}</td>
                    <td>{{FI}}<a href="" ng-click="Delete(FI)"><span class="glyphicon glyphicon-trash pull-right" ng-if="isDelete"></span></a></td>
                </tr>
            </tbody>


        </table>
    </div>
</div>
