﻿body {
}

.error{
    background-color: lightcoral
}

.noerror{
    background-color: none
}

.faderow.ng-enter {
    -moz-transition: linear .6s all;
    -o-transition: linear .6s all;
    -webkit-transition: linear .6s all;
    transition: linear .6s all;
    opacity:0;

}
.faderow.ng-enter-active{
    opacity:1;

}

.faderow.ng-leave {
    -moz-transition: linear .6s all;
    -o-transition: linear .6s all;
    -webkit-transition: linear .6s all;
    transition: linear .6s all;
    opacity:1;
}
.faderow.ng-leave-active{
    opacity:0;
}